In [1]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler,LabelEncoder
import pickle

In [2]:
## Load the dataset
data=pd.read_csv("Churn_Modelling.csv")
data.head()

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,4,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,5,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0

In [3]:
## Preprocess the data
### Drop irrelevant columns
data=data.drop(['RowNumber','CustomerId','Surname'],axis=1)
data

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0
...,...,...,...,...,...,...,...,...,...,...,...
9995,771,France,Male,39,5,0.00,2,1,0,96270.64,0
9996,516,France,Male,35,10,57369.61,1,1,1,101699.77,0
9997,709,France,Female,36,7,0.00,1,0,1,42085.58,1
9998,772,Germany,Male,42,3,75075.31,2,1,0,92888.52,1
9999,792,France,Female,28,4,130142.79,1,1,0,38190.78,0

In [4]:
## Encode categorical variables
label_encoder_gender=LabelEncoder()
data['Gender']=label_encoder_gender.fit_transform(data['Gender'])
data

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,619,France,0,42,2,0.00,1,1,1,101348.88,1
1,608,Spain,0,41,1,83807.86,1,0,1,112542.58,0
2,502,France,0,42,8,159660.80,3,1,0,113931.57,1
3,699,France,0,39,1,0.00,2,0,0,93826.63,0
4,850,Spain,0,43,2,125510.82,1,1,1,79084.10,0
...,...,...,...,...,...,...,...,...,...,...,...
9995,771,France,1,39,5,0.00,2,1,0,96270.64,0
9996,516,France,1,35,10,57369.61,1,1,1,101699.77,0
9997,709,France,0,36,7,0.00,1,0,1,42085.58,1
9998,772,Germany,1,42,3,75075.31,2,1,0,92888.52,1
9999,792,France,0,28,4,130142.79,1,1,0,38190.78,0

In [5]:
## Onehot encode 'Geography
from sklearn.preprocessing import OneHotEncoder
onehot_encoder_geo=OneHotEncoder()
geo_encoder=onehot_encoder_geo.fit_transform(data[['Geography']]).toarray()
geo_encoder

array([[1., 0., 0.],
       [0., 0., 1.],
       [1., 0., 0.],
       ...,
       [1., 0., 0.],
       [0., 1., 0.],
       [1., 0., 0.]])

In [6]:
onehot_encoder_geo.get_feature_names_out(['Geography'])

array(['Geography_France', 'Geography_Germany', 'Geography_Spain'],
      dtype=object)

In [7]:
geo_encoded_df=pd.DataFrame(geo_encoder,columns=onehot_encoder_geo.get_feature_names_out(['Geography']))
geo_encoded_df

      Geography_France  Geography_Germany  Geography_Spain
0                  1.0                0.0              0.0
1                  0.0                0.0              1.0
2                  1.0                0.0              0.0
3                  1.0                0.0              0.0
4                  0.0                0.0              1.0
...                ...                ...              ...
9995               1.0                0.0              0.0
9996               1.0                0.0              0.0
9997               1.0                0.0              0.0
9998               0.0                1.0              0.0
9999               1.0                0.0              0.0

[10000 rows x 3 columns]

In [8]:
## Combine one hot encoder columns with the original data
data=pd.concat([data.drop('Geography',axis=1),geo_encoded_df],axis=1)
data.head()

,CreditScore,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited,Geography_France,Geography_Germany,Geography_Spain
0,619,0,42,2,0.00,1,1,1,101348.88,1,1.0,0.0,0.0
1,608,0,41,1,83807.86,1,0,1,112542.58,0,0.0,0.0,1.0
2,502,0,42,8,159660.80,3,1,0,113931.57,1,1.0,0.0,0.0
3,699,0,39,1,0.00,2,0,0,93826.63,0,1.0,0.0,0.0
4,850,0,43,2,125510.82,1,1,1,79084.10,0,0.0,0.0,1.0

In [9]:
## Save the encoders and sscaler
with open('label_encoder_gender.pkl','wb') as file:
    pickle.dump(label_encoder_gender,file)

with open('onehot_encoder_geo.pkl','wb') as file:
    pickle.dump(onehot_encoder_geo,file)

In [10]:
data.head()

,CreditScore,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited,Geography_France,Geography_Germany,Geography_Spain
0,619,0,42,2,0.00,1,1,1,101348.88,1,1.0,0.0,0.0
1,608,0,41,1,83807.86,1,0,1,112542.58,0,0.0,0.0,1.0
2,502,0,42,8,159660.80,3,1,0,113931.57,1,1.0,0.0,0.0
3,699,0,39,1,0.00,2,0,0,93826.63,0,1.0,0.0,0.0
4,850,0,43,2,125510.82,1,1,1,79084.10,0,0.0,0.0,1.0

In [11]:
## DiVide the dataset into indepent and dependent features
X=data.drop('Exited',axis=1)
y=data['Exited']

## Split the data in training and tetsing sets
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.2,random_state=42)

## Scale these features
scaler=StandardScaler()
X_train=scaler.fit_transform(X_train)
X_test=scaler.transform(X_test)

In [12]:
X_train

array([[ 0.35649971,  0.91324755, -0.6557859 , ...,  1.00150113,
        -0.57946723, -0.57638802],
       [-0.20389777,  0.91324755,  0.29493847, ..., -0.99850112,
         1.72572313, -0.57638802],
       [-0.96147213,  0.91324755, -1.41636539, ..., -0.99850112,
        -0.57946723,  1.73494238],
       ...,
       [ 0.86500853, -1.09499335, -0.08535128, ...,  1.00150113,
        -0.57946723, -0.57638802],
       [ 0.15932282,  0.91324755,  0.3900109 , ...,  1.00150113,
        -0.57946723, -0.57638802],
       [ 0.47065475,  0.91324755,  1.15059039, ..., -0.99850112,
         1.72572313, -0.57638802]])

In [13]:
with open('scaler.pkl','wb') as file:
    pickle.dump(scaler,file)

In [14]:
data

,CreditScore,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited,Geography_France,Geography_Germany,Geography_Spain
0,619,0,42,2,0.00,1,1,1,101348.88,1,1.0,0.0,0.0
1,608,0,41,1,83807.86,1,0,1,112542.58,0,0.0,0.0,1.0
2,502,0,42,8,159660.80,3,1,0,113931.57,1,1.0,0.0,0.0
3,699,0,39,1,0.00,2,0,0,93826.63,0,1.0,0.0,0.0
4,850,0,43,2,125510.82,1,1,1,79084.10,0,0.0,0.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,771,1,39,5,0.00,2,1,0,96270.64,0,1.0,0.0,0.0
9996,516,1,35,10,57369.61,1,1,1,101699.77,0,1.0,0.0,0.0
9997,709,0,36,7,0.00,1,0,1,42085.58,1,1.0,0.0,0.0
9998,772,1,42,3,75075.31,2,1,0,92888.52,1,0.0,1.0,0.0
9999,792,0,28,4,130142.79,1,1,0,38190.78,0,1.0,0.0,0.0

### ANN Implementation

In [15]:
import tensorflow as tf
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense
from tensorflow.keras.callbacks import EarlyStopping,TensorBoard
import datetime

WARNING:tensorflow:From c:\Users\abhis\Downloads\annclassification\annclassification\venv\Lib\site-packages\keras\src\losses.py:2976: The name tf.losses.sparse_softmax_cross_entropy is deprecated. Please use tf.compat.v1.losses.sparse_softmax_cross_entropy instead.

In [16]:
(X_train.shape[1],)

(12,)

In [17]:
## Build Our ANN Model
model=Sequential([
    Dense(64,activation='relu',input_shape=(X_train.shape[1],)), ## HL1 Connected wwith input layer
    Dense(32,activation='relu'), ## HL2
    Dense(1,activation='sigmoid')  ## output layer
]
)

WARNING:tensorflow:From c:\Users\abhis\Downloads\annclassification\annclassification\venv\Lib\site-packages\keras\src\backend.py:873: The name tf.get_default_graph is deprecated. Please use tf.compat.v1.get_default_graph instead.

In [18]:
model.summary()

Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense (Dense)               (None, 64)                832

 dense_1 (Dense)             (None, 32)                2080

 dense_2 (Dense)             (None, 1)                 33

=================================================================
Total params: 2945 (11.50 KB)
Trainable params: 2945 (11.50 KB)
Non-trainable params: 0 (0.00 Byte)
_________________________________________________________________

In [19]:
import tensorflow
opt=tensorflow.keras.optimizers.Adam(learning_rate=0.01)
loss=tensorflow.keras.losses.BinaryCrossentropy()
loss

In [20]:
## compile the model
model.compile(optimizer=opt,loss="binary_crossentropy",metrics=['accuracy'])

In [21]:
## Set up the Tensorboard
from tensorflow.keras.callbacks import EarlyStopping,TensorBoard

log_dir="logs/fit/" + datetime.datetime.now().strftime("%Y%m%d-%H%M%S")
tensorflow_callback=TensorBoard(log_dir=log_dir,histogram_freq=1)

In [22]:
## Set up Early Stopping
early_stopping_callback=EarlyStopping(monitor='val_loss',patience=10,restore_best_weights=True)

In [23]:
### Train the model
history=model.fit(
    X_train,y_train,validation_data=(X_test,y_test),epochs=100,
    callbacks=[tensorflow_callback,early_stopping_callback]
)

Epoch 1/100
WARNING:tensorflow:From c:\Users\abhis\Downloads\annclassification\annclassification\venv\Lib\site-packages\keras\src\utils\tf_utils.py:492: The name tf.ragged.RaggedTensorValue is deprecated. Please use tf.compat.v1.ragged.RaggedTensorValue instead.

WARNING:tensorflow:From c:\Users\abhis\Downloads\annclassification\annclassification\venv\Lib\site-packages\keras\src\engine\base_layer_utils.py:384: The name tf.executing_eagerly_outside_functions is deprecated. Please use tf.compat.v1.executing_eagerly_outside_functions instead.

250/250 [==============================] - 2s 4ms/step - loss: 0.3950 - accuracy: 0.8361 - val_loss: 0.3492 - val_accuracy: 0.8605
Epoch 2/100
250/250 [==============================] - 1s 3ms/step - loss: 0.3575 - accuracy: 0.8549 - val_loss: 0.3626 - val_accuracy: 0.8540
Epoch 3/100
250/250 [==============================] - 1s 3ms/step - loss: 0.3533 - accuracy: 0.8568 - val_loss: 0.3506 - val_accuracy: 0.8590
Epoch 4/100
250/250 [==============================] - 1s 3ms/step - loss: 0.3452 - accuracy: 0.8585 - val_loss: 0.3566 - val_accuracy: 0.8545
Epoch 5/100
250/250 [==============================] - 1s 3ms/step - loss: 0.3409 - accuracy: 0.8648 - val_loss: 0.3448 - val_accuracy: 0.8590
Epoch 6/100
250/250 [==============================] - 1s 3ms/step - loss: 0.3417 - accuracy: 0.8585 - val_loss: 0.3413 - val_accuracy: 0.8560
Epoch 7/100
250/250 [==============================] - 1s 3ms/step - loss: 0.3386 - accuracy: 0.8625 - val_loss: 0.3526 - val_accuracy: 0.8595
Epoch 8/100
250/250 [==============================] - 1s 3ms/step - loss: 0.3365 - accuracy: 0.8634 - val_loss: 0.3446 - val_accuracy: 0.8605
Epoch 9/100
250/250 [==============================] - 1s 3ms/step - loss: 0.3342 - accuracy: 0.8654 - val_loss: 0.3479 - val_accuracy: 0.8590
Epoch 10/100
250/250 [==============================] - 1s 3ms/step - loss: 0.3319 - accuracy: 0.8640 - val_loss: 0.3415 - val_accuracy: 0.8630
Epoch 11/100
250/250 [==============================] - 1s 3ms/step - loss: 0.3291 - accuracy: 0.8654 - val_loss: 0.3503 - val_accuracy: 0.8590
Epoch 12/100
250/250 [==============================] - 1s 3ms/step - loss: 0.3290 - accuracy: 0.8634 - val_loss: 0.3568 - val_accuracy: 0.8605
Epoch 13/100
250/250 [==============================] - 1s 3ms/step - loss: 0.3265 - accuracy: 0.8670 - val_loss: 0.3518 - val_accuracy: 0.8580
Epoch 14/100
250/250 [==============================] - 1s 3ms/step - loss: 0.3228 - accuracy: 0.8668 - val_loss: 0.3597 - val_accuracy: 0.8600
Epoch 15/100
250/250 [==============================] - 1s 3ms/step - loss: 0.3231 - accuracy: 0.8673 - val_loss: 0.3519 - val_accuracy: 0.8565
Epoch 16/100
250/250 [==============================] - 1s 3ms/step - loss: 0.3225 - accuracy: 0.8684 - val_loss: 0.3433 - val_accuracy: 0.8670

In [24]:
model.save('model.h5')

c:\Users\abhis\Downloads\annclassification\annclassification\venv\Lib\site-packages\keras\src\engine\training.py:3103: UserWarning: You are saving your model as an HDF5 file via `model.save()`. This file format is considered legacy. We recommend using instead the native Keras format, e.g. `model.save('my_model.keras')`.
  saving_api.save_model(

In [1]:
## Load Tensorboard Extension
%load_ext tensorboard

In [2]:
%tensorboard --logdir logs/fit/20250116-225501d

ERROR: Failed to launch TensorBoard (exited with 1).
Contents of stderr:
2025-01-16 23:06:09.584260: I tensorflow/core/util/port.cc:153] oneDNN custom operations are on. You may see slightly different numerical results due to floating-point round-off errors from different computation orders. To turn them off, set the environment variable `TF_ENABLE_ONEDNN_OPTS=0`.
2025-01-16 23:06:10.429762: I tensorflow/core/util/port.cc:153] oneDNN custom operations are on. You may see slightly different numerical results due to floating-point round-off errors from different computation orders. To turn them off, set the environment variable `TF_ENABLE_ONEDNN_OPTS=0`.

A module that was compiled using NumPy 1.x cannot be run in
NumPy 2.1.0 as it may crash. To support both 1.x and 2.x
versions of NumPy, modules must be compiled with NumPy 2.0.
Some module may need to rebuild instead e.g. with 'pybind11>=2.12'.

If you are a user of the module, the easiest solution will be to
downgrade to 'numpy<2' or try to upgrade the affected module.
We expect that some modules will need time to support NumPy 2.

Traceback (most recent call last):  File "C:\Users\abhis\anaconda3\lib\runpy.py", line 196, in _run_module_as_main
    return _run_code(code, main_globals, None,
  File "C:\Users\abhis\anaconda3\lib\runpy.py", line 86, in _run_code
    exec(code, run_globals)
  File "C:\Users\abhis\anaconda3\Scripts\tensorboard.exe\__main__.py", line 7, in <module>
    sys.exit(run_main())
  File "C:\Users\abhis\anaconda3\lib\site-packages\tensorboard\main.py", line 38, in run_main
    main_lib.global_init()
  File "C:\Users\abhis\anaconda3\lib\site-packages\tensorboard\main_lib.py", line 50, in global_init
    if getattr(tf, "__version__", "stub") == "stub":
  File "C:\Users\abhis\anaconda3\lib\site-packages\tensorboard\lazy.py", line 65, in __getattr__
    return getattr(load_once(self), attr_name)
  File "C:\Users\abhis\anaconda3\lib\site-packages\tensorboard\lazy.py", line 97, in wrapper
    cache[arg] = f(arg)
  File "C:\Users\abhis\anaconda3\lib\site-packages\tensorboard\lazy.py", line 50, in load_once
    module = load_fn()
  File "C:\Users\abhis\anaconda3\lib\site-packages\tensorboard\compat\__init__.py", line 45, in tf
    import tensorflow
  File "C:\Users\abhis\anaconda3\lib\site-packages\tensorflow\__init__.py", line 467, in <module>
    importlib.import_module("keras.src.optimizers")
  File "C:\Users\abhis\anaconda3\lib\importlib\__init__.py", line 126, in import_module
    return _bootstrap._gcd_import(name[level:], package, level)
  File "C:\Users\abhis\anaconda3\lib\site-packages\keras\__init__.py", line 2, in <module>
    from keras.api import DTypePolicy
  File "C:\Users\abhis\anaconda3\lib\site-packages\keras\api\__init__.py", line 8, in <module>
    from keras.api import activations
  File "C:\Users\abhis\anaconda3\lib\site-packages\keras\api\activations\__init__.py", line 7, in <module>
    from keras.src.activations import deserialize
  File "C:\Users\abhis\anaconda3\lib\site-packages\keras\src\__init__.py", line 1, in <module>
    from keras.src import activations
  File "C:\Users\abhis\anaconda3\lib\site-packages\keras\src\activations\__init__.py", line 33, in <module>
    from keras.src.saving import object_registration
  File "C:\Users\abhis\anaconda3\lib\site-packages\keras\src\saving\__init__.py", line 7, in <module>
    from keras.src.saving.saving_api import load_model
  File "C:\Users\abhis\anaconda3\lib\site-packages\keras\src\saving\saving_api.py", line 7, in <module>
    from keras.src.legacy.saving import legacy_h5_format
  File "C:\Users\abhis\anaconda3\lib\site-packages\keras\src\legacy\saving\legacy_h5_format.py", line 13, in <module>
    from keras.src.legacy.saving import saving_utils
  File "C:\Users\abhis\anaconda3\lib\site-packages\keras\src\legacy\saving\saving_utils.py", line 10, in <module>
    from keras.src import models
  File "C:\Users\abhis\anaconda3\lib\site-packages\keras\src\models\__init__.py", line 1, in <module>
    from keras.src.models.functional import Functional
  File "C:\Users\abhis\anaconda3\lib\site-packages\keras\src\models\functional.py", line 16, in <module>
    from keras.src.models.model import Model
  File "C:\Users\abhis\anaconda3\lib\site-packages\keras\src\models\model.py", line 12, in <module>
    from keras.src.trainers import trainer as base_trainer
  File "C:\Users\abhis\anaconda3\lib\site-packages\keras\src\trainers\trainer.py", line 14, in <module>
    from keras.src.trainers.data_adapters import data_adapter_utils
  File "C:\Users\abhis\anaconda3\lib\site-packages\keras\src\trainers\data_adapters\__init__.py", line 4, in <module>
    from keras.src.trainers.data_adapters import array_data_adapter
  File "C:\Users\abhis\anaconda3\lib\site-packages\keras\src\trainers\data_adapters\array_data_adapter.py", line 7, in <module>
    from keras.src.trainers.data_adapters import array_slicing
  File "C:\Users\abhis\anaconda3\lib\site-packages\keras\src\trainers\data_adapters\array_slicing.py", line 12, in <module>
    import pandas
  File "C:\Users\abhis\anaconda3\lib\site-packages\pandas\__init__.py", line 62, in <module>
    from pandas.core.api import (
  File "C:\Users\abhis\anaconda3\lib\site-packages\pandas\core\api.py", line 28, in <module>
    from pandas.core.arrays import Categorical
  File "C:\Users\abhis\anaconda3\lib\site-packages\pandas\core\arrays\__init__.py", line 1, in <module>
    from pandas.core.arrays.arrow import ArrowExtensionArray
  File "C:\Users\abhis\anaconda3\lib\site-packages\pandas\core\arrays\arrow\__init__.py", line 5, in <module>
    from pandas.core.arrays.arrow.array import ArrowExtensionArray
  File "C:\Users\abhis\anaconda3\lib\site-packages\pandas\core\arrays\arrow\array.py", line 50, in <module>
    from pandas.core import (
  File "C:\Users\abhis\anaconda3\lib\site-packages\pandas\core\ops\__init__.py", line 8, in <module>
    from pandas.core.ops.array_ops import (
  File "C:\Users\abhis\anaconda3\lib\site-packages\pandas\core\ops\array_ops.py", line 56, in <module>
    from pandas.core.computation import expressions
  File "C:\Users\abhis\anaconda3\lib\site-packages\pandas\core\computation\expressions.py", line 21, in <module>
    from pandas.core.computation.check import NUMEXPR_INSTALLED
  File "C:\Users\abhis\anaconda3\lib\site-packages\pandas\core\computation\check.py", line 5, in <module>
    ne = import_optional_dependency("numexpr", errors="warn")
  File "C:\Users\abhis\anaconda3\lib\site-packages\pandas\compat\_optional.py", line 135, in import_optional_dependency
    module = importlib.import_module(name)
  File "C:\Users\abhis\anaconda3\lib\importlib\__init__.py", line 126, in import_module
    return _bootstrap._gcd_import(name[level:], package, level)
  File "C:\Users\abhis\anaconda3\lib\site-packages\numexpr\__init__.py", line 24, in <module>
    from numexpr.interpreter import MAX_THREADS, use_vml, __BLOCK_SIZE1__
Traceback (most recent call last):
  File "C:\Users\abhis\anaconda3\lib\site-packages\tensorboard\compat\__init__.py", line 42, in tf
    from tensorboard.compat import notf  # noqa: F401
ImportError: cannot import name 'notf' from 'tensorboard.compat' (C:\Users\abhis\anaconda3\lib\site-packages\tensorboard\compat\__init__.py)

During handling of the above exception, another exception occurred:

AttributeError: _ARRAY_API not found

A module that was compiled using NumPy 1.x cannot be run in
NumPy 2.1.0 as it may crash. To support both 1.x and 2.x
versions of NumPy, modules must be compiled with NumPy 2.0.
Some module may need to rebuild instead e.g. with 'pybind11>=2.12'.

If you are a user of the module, the easiest solution will be to
downgrade to 'numpy<2' or try to upgrade the affected module.
We expect that some modules will need time to support NumPy 2.

Traceback (most recent call last):  File "C:\Users\abhis\anaconda3\lib\runpy.py", line 196, in _run_module_as_main
    return _run_code(code, main_globals, None,
  File "C:\Users\abhis\anaconda3\lib\runpy.py", line 86, in _run_code
    exec(code, run_globals)
  File "C:\Users\abhis\anaconda3\Scripts\tensorboard.exe\__main__.py", line 7, in <module>
    sys.exit(run_main())
  File "C:\Users\abhis\anaconda3\lib\site-packages\tensorboard\main.py", line 38, in run_main
    main_lib.global_init()
  File "C:\Users\abhis\anaconda3\lib\site-packages\tensorboard\main_lib.py", line 50, in global_init
    if getattr(tf, "__version__", "stub") == "stub":
  File "C:\Users\abhis\anaconda3\lib\site-packages\tensorboard\lazy.py", line 65, in __getattr__
    return getattr(load_once(self), attr_name)
  File "C:\Users\abhis\anaconda3\lib\site-packages\tensorboard\lazy.py", line 97, in wrapper
    cache[arg] = f(arg)
  File "C:\Users\abhis\anaconda3\lib\site-packages\tensorboard\lazy.py", line 50, in load_once
    module = load_fn()
  File "C:\Users\abhis\anaconda3\lib\site-packages\tensorboard\compat\__init__.py", line 45, in tf
    import tensorflow
  File "C:\Users\abhis\anaconda3\lib\site-packages\tensorflow\__init__.py", line 467, in <module>
    importlib.import_module("keras.src.optimizers")
  File "C:\Users\abhis\anaconda3\lib\importlib\__init__.py", line 126, in import_module
    return _bootstrap._gcd_import(name[level:], package, level)
  File "C:\Users\abhis\anaconda3\lib\site-packages\keras\__init__.py", line 2, in <module>
    from keras.api import DTypePolicy
  File "C:\Users\abhis\anaconda3\lib\site-packages\keras\api\__init__.py", line 8, in <module>
    from keras.api import activations
  File "C:\Users\abhis\anaconda3\lib\site-packages\keras\api\activations\__init__.py", line 7, in <module>
    from keras.src.activations import deserialize
  File "C:\Users\abhis\anaconda3\lib\site-packages\keras\src\__init__.py", line 1, in <module>
    from keras.src import activations
  File "C:\Users\abhis\anaconda3\lib\site-packages\keras\src\activations\__init__.py", line 33, in <module>
    from keras.src.saving import object_registration
  File "C:\Users\abhis\anaconda3\lib\site-packages\keras\src\saving\__init__.py", line 7, in <module>
    from keras.src.saving.saving_api import load_model
  File "C:\Users\abhis\anaconda3\lib\site-packages\keras\src\saving\saving_api.py", line 7, in <module>
    from keras.src.legacy.saving import legacy_h5_format
  File "C:\Users\abhis\anaconda3\lib\site-packages\keras\src\legacy\saving\legacy_h5_format.py", line 13, in <module>
    from keras.src.legacy.saving import saving_utils
  File "C:\Users\abhis\anaconda3\lib\site-packages\keras\src\legacy\saving\saving_utils.py", line 10, in <module>
    from keras.src import models
  File "C:\Users\abhis\anaconda3\lib\site-packages\keras\src\models\__init__.py", line 1, in <module>
    from keras.src.models.functional import Functional
  File "C:\Users\abhis\anaconda3\lib\site-packages\keras\src\models\functional.py", line 16, in <module>
    from keras.src.models.model import Model
  File "C:\Users\abhis\anaconda3\lib\site-packages\keras\src\models\model.py", line 12, in <module>
    from keras.src.trainers import trainer as base_trainer
  File "C:\Users\abhis\anaconda3\lib\site-packages\keras\src\trainers\trainer.py", line 14, in <module>
    from keras.src.trainers.data_adapters import data_adapter_utils
  File "C:\Users\abhis\anaconda3\lib\site-packages\keras\src\trainers\data_adapters\__init__.py", line 4, in <module>
    from keras.src.trainers.data_adapters import array_data_adapter
  File "C:\Users\abhis\anaconda3\lib\site-packages\keras\src\trainers\data_adapters\array_data_adapter.py", line 7, in <module>
    from keras.src.trainers.data_adapters import array_slicing
  File "C:\Users\abhis\anaconda3\lib\site-packages\keras\src\trainers\data_adapters\array_slicing.py", line 12, in <module>
    import pandas
  File "C:\Users\abhis\anaconda3\lib\site-packages\pandas\__init__.py", line 62, in <module>
    from pandas.core.api import (
  File "C:\Users\abhis\anaconda3\lib\site-packages\pandas\core\api.py", line 28, in <module>
    from pandas.core.arrays import Categorical
  File "C:\Users\abhis\anaconda3\lib\site-packages\pandas\core\arrays\__init__.py", line 1, in <module>
    from pandas.core.arrays.arrow import ArrowExtensionArray
  File "C:\Users\abhis\anaconda3\lib\site-packages\pandas\core\arrays\arrow\__init__.py", line 5, in <module>
    from pandas.core.arrays.arrow.array import ArrowExtensionArray
  File "C:\Users\abhis\anaconda3\lib\site-packages\pandas\core\arrays\arrow\array.py", line 64, in <module>
    from pandas.core.arrays.masked import BaseMaskedArray
  File "C:\Users\abhis\anaconda3\lib\site-packages\pandas\core\arrays\masked.py", line 60, in <module>
    from pandas.core import (
  File "C:\Users\abhis\anaconda3\lib\site-packages\pandas\core\nanops.py", line 52, in <module>
    bn = import_optional_dependency("bottleneck", errors="warn")
  File "C:\Users\abhis\anaconda3\lib\site-packages\pandas\compat\_optional.py", line 135, in import_optional_dependency
    module = importlib.import_module(name)
  File "C:\Users\abhis\anaconda3\lib\importlib\__init__.py", line 126, in import_module
    return _bootstrap._gcd_import(name[level:], package, level)
  File "C:\Users\abhis\anaconda3\lib\site-packages\bottleneck\__init__.py", line 7, in <module>
    from .move import (move_argmax, move_argmin, move_max, move_mean, move_median,
Traceback (most recent call last):
  File "C:\Users\abhis\anaconda3\lib\site-packages\tensorboard\compat\__init__.py", line 42, in tf
    from tensorboard.compat import notf  # noqa: F401
ImportError: cannot import name 'notf' from 'tensorboard.compat' (C:\Users\abhis\anaconda3\lib\site-packages\tensorboard\compat\__init__.py)

During handling of the above exception, another exception occurred:

AttributeError: _ARRAY_API not found

A module that was compiled using NumPy 1.x cannot be run in
NumPy 2.1.0 as it may crash. To support both 1.x and 2.x
versions of NumPy, modules must be compiled with NumPy 2.0.
Some module may need to rebuild instead e.g. with 'pybind11>=2.12'.

If you are a user of the module, the easiest solution will be to
downgrade to 'numpy<2' or try to upgrade the affected module.
We expect that some modules will need time to support NumPy 2.

Traceback (most recent call last):  File "C:\Users\abhis\anaconda3\lib\runpy.py", line 196, in _run_module_as_main
    return _run_code(code, main_globals, None,
  File "C:\Users\abhis\anaconda3\lib\runpy.py", line 86, in _run_code
    exec(code, run_globals)
  File "C:\Users\abhis\anaconda3\Scripts\tensorboard.exe\__main__.py", line 7, in <module>
    sys.exit(run_main())
  File "C:\Users\abhis\anaconda3\lib\site-packages\tensorboard\main.py", line 38, in run_main
    main_lib.global_init()
  File "C:\Users\abhis\anaconda3\lib\site-packages\tensorboard\main_lib.py", line 50, in global_init
    if getattr(tf, "__version__", "stub") == "stub":
  File "C:\Users\abhis\anaconda3\lib\site-packages\tensorboard\lazy.py", line 65, in __getattr__
    return getattr(load_once(self), attr_name)
  File "C:\Users\abhis\anaconda3\lib\site-packages\tensorboard\lazy.py", line 97, in wrapper
    cache[arg] = f(arg)
  File "C:\Users\abhis\anaconda3\lib\site-packages\tensorboard\lazy.py", line 50, in load_once
    module = load_fn()
  File "C:\Users\abhis\anaconda3\lib\site-packages\tensorboard\compat\__init__.py", line 45, in tf
    import tensorflow
  File "C:\Users\abhis\anaconda3\lib\site-packages\tensorflow\__init__.py", line 467, in <module>
    importlib.import_module("keras.src.optimizers")
  File "C:\Users\abhis\anaconda3\lib\importlib\__init__.py", line 126, in import_module
    return _bootstrap._gcd_import(name[level:], package, level)
  File "C:\Users\abhis\anaconda3\lib\site-packages\keras\__init__.py", line 2, in <module>
    from keras.api import DTypePolicy
  File "C:\Users\abhis\anaconda3\lib\site-packages\keras\api\__init__.py", line 8, in <module>
    from keras.api import activations
  File "C:\Users\abhis\anaconda3\lib\site-packages\keras\api\activations\__init__.py", line 7, in <module>
    from keras.src.activations import deserialize
  File "C:\Users\abhis\anaconda3\lib\site-packages\keras\src\__init__.py", line 13, in <module>
    from keras.src import visualization
  File "C:\Users\abhis\anaconda3\lib\site-packages\keras\src\visualization\__init__.py", line 2, in <module>
    from keras.src.visualization import plot_image_gallery
  File "C:\Users\abhis\anaconda3\lib\site-packages\keras\src\visualization\plot_image_gallery.py", line 13, in <module>
    import matplotlib.pyplot as plt
  File "C:\Users\abhis\anaconda3\lib\site-packages\matplotlib\__init__.py", line 131, in <module>
    from . import _api, _version, cbook, _docstring, rcsetup
  File "C:\Users\abhis\anaconda3\lib\site-packages\matplotlib\rcsetup.py", line 27, in <module>
    from matplotlib.colors import Colormap, is_color_like
  File "C:\Users\abhis\anaconda3\lib\site-packages\matplotlib\colors.py", line 56, in <module>
    from matplotlib import _api, _cm, cbook, scale
  File "C:\Users\abhis\anaconda3\lib\site-packages\matplotlib\scale.py", line 22, in <module>
    from matplotlib.ticker import (
  File "C:\Users\abhis\anaconda3\lib\site-packages\matplotlib\ticker.py", line 138, in <module>
    from matplotlib import transforms as mtransforms
  File "C:\Users\abhis\anaconda3\lib\site-packages\matplotlib\transforms.py", line 49, in <module>
    from matplotlib._path import (
Traceback (most recent call last):
  File "C:\Users\abhis\anaconda3\lib\site-packages\tensorboard\compat\__init__.py", line 42, in tf
    from tensorboard.compat import notf  # noqa: F401
ImportError: cannot import name 'notf' from 'tensorboard.compat' (C:\Users\abhis\anaconda3\lib\site-packages\tensorboard\compat\__init__.py)

During handling of the above exception, another exception occurred:

AttributeError: _ARRAY_API not found

A module that was compiled using NumPy 1.x cannot be run in
NumPy 2.1.0 as it may crash. To support both 1.x and 2.x
versions of NumPy, modules must be compiled with NumPy 2.0.
Some module may need to rebuild instead e.g. with 'pybind11>=2.12'.

If you are a user of the module, the easiest solution will be to
downgrade to 'numpy<2' or try to upgrade the affected module.
We expect that some modules will need time to support NumPy 2.

Traceback (most recent call last):  File "C:\Users\abhis\anaconda3\lib\runpy.py", line 196, in _run_module_as_main
    return _run_code(code, main_globals, None,
  File "C:\Users\abhis\anaconda3\lib\runpy.py", line 86, in _run_code
    exec(code, run_globals)
  File "C:\Users\abhis\anaconda3\Scripts\tensorboard.exe\__main__.py", line 7, in <module>
    sys.exit(run_main())
  File "C:\Users\abhis\anaconda3\lib\site-packages\tensorboard\main.py", line 38, in run_main
    main_lib.global_init()
  File "C:\Users\abhis\anaconda3\lib\site-packages\tensorboard\main_lib.py", line 50, in global_init
    if getattr(tf, "__version__", "stub") == "stub":
  File "C:\Users\abhis\anaconda3\lib\site-packages\tensorboard\lazy.py", line 65, in __getattr__
    return getattr(load_once(self), attr_name)
  File "C:\Users\abhis\anaconda3\lib\site-packages\tensorboard\lazy.py", line 97, in wrapper
    cache[arg] = f(arg)
  File "C:\Users\abhis\anaconda3\lib\site-packages\tensorboard\lazy.py", line 50, in load_once
    module = load_fn()
  File "C:\Users\abhis\anaconda3\lib\site-packages\tensorboard\compat\__init__.py", line 45, in tf
    import tensorflow
  File "C:\Users\abhis\anaconda3\lib\site-packages\tensorflow\__init__.py", line 467, in <module>
    importlib.import_module("keras.src.optimizers")
  File "C:\Users\abhis\anaconda3\lib\importlib\__init__.py", line 126, in import_module
    return _bootstrap._gcd_import(name[level:], package, level)
  File "C:\Users\abhis\anaconda3\lib\site-packages\keras\__init__.py", line 2, in <module>
    from keras.api import DTypePolicy
  File "C:\Users\abhis\anaconda3\lib\site-packages\keras\api\__init__.py", line 34, in <module>
    from keras.api import visualization

In [ ]:
### Load the pickle file